
.metadata/.plugins/org.eclipse.wst.validation/dep.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/savedIndexNames.txt
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/792661253.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/3257436903.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/3131418781.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/2503981271.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/1594596930.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_3i
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_3h
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments.gen
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_3t.cfs
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/_3n_1.del
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.core.resources/36.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/ex02/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/ex02/.markers.snap
.metadata/.plugins/com.genuitec.eclipse.devstyle/recent.json
.metadata/.log
ex02/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
ex02/target/m2e-wtp/web-resources/META-INF/maven/jmp.spring/ojdbc/pom.properties
*.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/792661253.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/3257436903.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/3131418781.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/2503981271.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/1594596930.index
.metadata/.plugins/org.eclipse.m2e.core/nexus/830bc118332e77292949ed1e6d2fabe0/segments_3h
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.core.resources/36.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/ex02/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/ex02/.markers.snap
.metadata/.plugins/com.genuitec.eclipse.devstyle/recent.json
.metadata/.log
ex02/target/m2e-wtp/web-resources/META-INF/maven/jmp.spring/ojdbc/pom.properties
*.resources
*.json
*.snap
/.metadata/
