<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jmp.spring.mapper.ReplyMapper">

	<insert id="insert">
		insert into tbl_reply values(seq_reply.nextval, #{bno}, #{reply}, #{replyer}, sysdate, sysdate)
	</insert>
	
	<select id="get" resultType="jmp.spring.domain.ReplyVO">
		select rno, bno, reply, replyer, replydate, 
		    case
		        when to_char(sysdate,'yyyymmdd') = to_char(updatedate,'yyyymmdd')
		        then to_char(updatedate, 'hh:mi:ss')
		        else to_char(updatedate, 'yyyy-mm-dd hh:mi:ss')
		    end as updatedate
		from tbl_reply where rno = #{rno}
	</select>
	
	<select id="getList" resultType="jmp.spring.domain.ReplyVO">
		SELECT RN, RNO, BNO, REPLY, REPLYER, REPLYDATE, 
		    CASE
		        WHEN TO_CHAR(SYSDATE,'yyyymmdd') = TO_CHAR(UPDATEDATE,'yyyymmdd')
		        THEN TO_CHAR(UPDATEDATE, 'hh:mi:ss')
		        ELSE TO_CHAR(UPDATEDATE, 'yyyy-mm-dd hh:mi:ss')
		    END UPDATEDATE
		FROM (
		    SELECT ROW_NUMBER() OVER (ORDER BY RNO DESC) RN, reply.*
		    FROM tbl_reply reply
		    WHERE bno=#{bno}
		    ORDER BY rno DESC
		    ) 
		WHERE rn BETWEEN #{cri.pageNum} * #{cri.amount} - 9 AND #{cri.pageNum} * #{cri.amount}
	</select>
	
	<select id="getTotal" resultType="int">
		select count(*) from tbl_reply where bno = #{bno}
	</select>
	
	<delete id="delete">
		delete from tbl_reply where rno = #{rno}
	</delete>
	
	<update id="update">
		update tbl_reply set reply = #{reply}, replyer = #{replyer}, updateDate = sysdate where rno = #{rno}
	</update>
</mapper>